/* Common CSS */
* {
  font-family: "Nanum Gothic", sans-serif;
}

div .App {
  margin: 200px auto;
}

ul {
  margin-top: 20px;
  padding: 0;
}

#header {
  width: 1000px;
  height: 100px;
  line-height: 100px;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

#nav {
  width: 1000px;
  height: 100px;
  background: #fff;
}

#section {
  width: 1000px;
  height: 600px;
  text-align: center;
  margin: 10px auto 15px auto;
}

#footer {
  width: 1000px;
  height: 100px;
  line-height: 100px;
}

.logo {
  text-align: center;
  height: 100px;
}

#nav {
  margin: 0 auto;
  text-align: center;
}

#nav ul li {
  display: inline-block;
  font-size: 18px;
  list-style: none;
  font-weight: bold;
  background-color: rgb(44, 177, 214);
  border-radius: 20px;
  width: 190px;
  height: 60px;
  margin: 0 10px;
  line-height: 60px;
  padding: 0 20px;
  cursor: pointer;
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  transition: all 0.3s;
}

#nav ul li a:hover {
  color: red;
  font-size: 19px;
}

#nav ul li a.on {
  text-decoration: none;
  color: red;
}

#section > div {
  display: none;
}

#section > div.on {
  display: block;
}

#footer {
  text-align: center;
  margin: 0 auto;
}
