/* ChargeHistory CSS */

.container-history {
  width: 1000px;
}

.container-history .history {
  width: calc(1000px / 3);
  height: 600px;
  /* box-sizing: border-box;
  border: 1px solid black; */
}

.container-history .history .history-box {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f6f5f0;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  color: #555;
  text-align: left;
}
