/* NewsApiComponent CSS */

.container-news {
  width: 1000px;
  height: 600px;
  transition: height 0.4s;
  position: relative;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
  margin: 0 auto;
  @media and (max-width: 800px) {
    width: 100%auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container-news.hide {
  height: 0;
}

.container-news .swiper {
  width: calc(600px * 3 + 20px);
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((600px * 3 + 20px) / -2);
}

.container-news .swiper-slide {
  display: flex;
  opacity: 0.2;
  transition: opacity 1s;
}

.container-news .swiper-slide-active {
  opacity: 1;
}

.container-news .swiper-pagination {
  left: 0;
  right: 0;
  margin-bottom: 250px;
}

.container-news .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/News_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.container-news .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.container-news .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/News_slide_pager_on.png");
}

.container-news .thumnail {
  margin-right: 16px;
}

.container-news .thumnail img {
  display: block;
  width: 200px;
  height: 150px;
}

.container-news .contents {
  display: block;
}

.container-news .contents h2 {
  margin: 0;
}

.container-news .contents h2 a {
  color: black;
  text-decoration: none;
}

.container-news .contents h2 p {
  margin: 0;
  line-height: 1.5;
  margin-top: 0%8px;
  white-space: normal;
}

.container-news .contents .Newstime {
  font-size: 10pt;
  text-align: right;
}

.container-news .under-news {
  display: flex;
  width: 800px;
  height: 180px;
  position: absolute;
  margin-left: 100px;
  bottom: 50px;
}

.contents h2 a:hover {
  color: rgb(44, 177, 214);
  text-decoration: underline;
  transition: color 1s;
}
